body{
    height: 150vh;
}
#wrapper {
    width: 90vw;
    height: 140vh;
}

#second {
    justify-content: center;
}

#second .secondDiv {
    margin: 0;
}
#third {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#third #image {
    margin: 2rem;
}

/* #third .align {
    margin: 2rem;
} */

#fourth .instructions {
    display: none;
}
#fourth .details #name {
    margin-bottom: 2rem;
}